PA_BOOKING_DATABASE_URL=postgresql+psycopg://pa_booking:CHANGE_ME@host.docker.internal:5432/pa_booking
PA_BOOKING_API_KEY=
PA_BOOKING_AUTH_BASE_URL=http://auth-api:8000
PA_BOOKING_AUTH_API_KEY=
PA_BOOKING_CELERY_BROKER_URL=redis://redis:6379/0

PA_BOOKING_BOTX_CTS_URL=
PA_BOOKING_APPOINTMENTS_BOT_ID=
PA_BOOKING_APPOINTMENTS_BOT_SECRET=
PA_BOOKING_APPOINTMENTS_NOTIFY_CHAT_ID=
PA_BOOKING_LIBRARY_BOT_ID=
PA_BOOKING_LIBRARY_BOT_SECRET=
PA_BOOKING_LIBRARY_NOTIFY_CHAT_ID=
